.section2 {
    margin-top: 100px;
}
.section2Content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 8rem;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem;
}
.footerItems {
    margin: 0rem 1rem;
    cursor: pointer;

}
.footer {
    margin: 0.5rem 1rem;
}
.c2Text2 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.463);
    text-align: center;
    cursor: pointer;
}